@charset "utf-8";
/* CSS Document */
a:link{
     text-decoration:none;
}
#ft a{
     background-color:#FFF;
	 border:none;
}
.div1{
   width:100%;
   background-color:#FFB9C4;
   height:150px;
}
.board{
	width:100%;

	height:150px;
}
.div11{
     width:30%;
	 position:positive;
	 float:left;
	 height:150px;
}
.div12{
     width:70%;
	 position:relative;
	 float:left;
	 height:150px;
}

#touxiang{
     border:0.5px solid #FFF;
	 width:80px;
	 height:80px;
	 border-radius:40px;
	 margin-top:50px;
	 margin-left:10px;
	 
}

#username{
       color:#FFF;
	   font-weight:normal;
	   text-shadow:none;
	   font-size:20px;
	   margin-top:75px;
	   
}
.addcontent a{
       font-weight:normal;
	   text-shadow:none;
}
.addcontent li{
	height: 50px;
}
.btn{
	position: absolute;
	top:160px;
	right: 50px;
}
.back{
	float: left;
}
.go{width: 50%;}
.go img{
	position: absolute;
	right: 0;
	top: 10px;
}
.message{
	position: relative;
	top: 80px;
}
