@charset "utf-8";
/* CSS Document */

#fh{
      color:#FFF;
	  font-weight:normal;
	  text-shadow:none;
}
.div1{
   width:100%;
   background-color:#9298B7;
   height:200px;
}

.div1 p{
      color:#FFF;
	  font-weight:normal;
	  text-shadow:none;
	  font-size:0.8em;
	  margin:10px 0;

}

.div1 h2{
       color:#FFF;
	   font-weight:normal;
	   text-shadow:none;
	   margin:20px 0 0 0; 
	   display:inline-table;  
}

.film-detail{
        position:absolute;
		margin-top:10px;
		margin-left:20px;
		color:#FFF;
}
