<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-1.4.5.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/film-detail.css}">
<link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/cinema.css" th:href="@{/css/cinema.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cinema-detail.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/target.css" th:href="@{/css/target.css}">
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery.mobile-1.4.5.js}"></script>
<script th:src="@{/js/database.js}"></script>
<script th:src="@{/js/swiper.min.js}"></script>
</head>

<body>

 <div data-role="page" id="home">
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <h2>电影购票首页</h2>   
    </div>
    <div data-role="content">      
     <div class="swiper-container" style="position:relative;height:200px;width:100%;background-color:#353535;}">
     <div class="swiper-wrapper wrapper">
     </div>
      <div class="swiper-pagination"></div>
     </div>
     <h3>精品推荐</h3>
     <div class="container1">
      <div class="container2" id="p1">
      <img th:src="@{image/haoxi1.jpg}" class="image6" id="img6"></a>
      </div>
      <div class="container2" id="p2">
      <img th:src="@{image/jusha1.jpg}" class="image7" id="img7">
      </div>
     </div>
      <h3>热门电影</h3>
     <div>
       <ul data-role="listview" style="margin:0.5px" data-icon="false" id="addcontent">
          <li th:each="show : ${page.content}" class=".ui-grid-b">
              <a th:href="@{/show/detail(id=${show.id})}">
                  <div class='container3 ui-block ui-block-a'>
                      <img class='imgtd'width='95px'height='120px' th:src="${show.movie.image}"/>
                  </div>
                  <div class="container4 ui-block ui-block-b">
                      <h4 th:text="${show.movie.name}"></h4>
                      <p>观众评分：<b style='color:#FC0;font-size:1.5em;' th:text="${show.movie.score}"></b></p>
                      <p th:text="'导演: '+${show.movie.director}" style="margin-top: 15px;"></p>
                      <p th:text="'主演: '+${show.movie.actors}" style="margin-top: 15px;"></p>
                  </div>
              </a>
              <div class="container5 ui-block-c">
                  <a th:href="@{/show/target(id=${show.movie.id})}"><div class="buy bt">购票</div></a>
              </div>
          </li>
        </ul>
         <div class="pagehelper">
             <div class="bt" th:unless="${page.first}">
                 <a th:href="@{/(page=${page.number}-1)}">上一页</a>
             </div>
             <div class="bt" th:unless="${page.last}">
                <a th:href="@{/(page=${page.number}+1)}">下一页</a>
             </div>
         </div>
     </div>
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <div data-role="navbar">
       <ul id="ft">
        <li> 
          <a th:href="@{/}" data-ajax="false">
           <div><img th:src="@{image/icon01.png}"></div>
            <p style="margin:0;text-shadow:none;color:#FF2B4A">正在热映</p>  
           </a>
        </li>
       <li> 
           <a th:href="@{/future}" data-ajax="false">
           <div><img th:src="@{image/icon2.png}"></div>
            <p style="margin:0;"> 即将热映</p>  
           </a>
        </li>
        <li> 
           <a th:href="@{/cinema}" data-ajax="false">
           <div><img th:src="@{image/icon3.png}"></div>
            <p style="margin:0">影院</p>  
           </a>
        </li>
        <li> 
           <a th:href="@{/mine}" data-ajax="false">
           <div><img th:src="@{image/icon4.png}"></div>
            <p style="margin:0">我的</p>
           </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
 <script>
 //图片轮播
	var imgList = ["/image/yaoshen1.jpg","/image/haoxi1.jpg","/image/motian1.jpg","/image/jusha1.jpg","/image/fenyu1.jpg"];
	  for(var i=0;i<imgList.length;i++){
       $(".wrapper").append("<div class='swiper-slide' style='width:100%;height:100%;'>"
								+"<img src='"+imgList[i]+"' alt='图片不能正常显示' id='imgMain' style='position:absolute;width:100%;height:100%;'/>"
								+"</div>"); 
		}
	    var mySwiper = new Swiper ('.swiper-container', {
			direction: 'horizontal',
			centeredSlides: true,
			 autoplay:true,
			 loop : true,
			  pagination: {
    			 el: '.swiper-pagination',
        		clickable: true,
  			  },
			})


	
    
</script>   
</body>
</html>
