<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-1.4.5.css}">
<link rel="stylesheet" type="text/css" href="../static/css/my.css" th:href="@{/css/my.css}">
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery.mobile-1.4.5.js}"></script>
<script th:src="@{/js/database1.js}"></script>

</head>

<body>
<div data-role="page">
   <div data-role="header" data-position="fixed" data-tap-toggle="false">
         <div class="back"><a href="javascript:history.back(-1)"><img th:src="@{/image/back.png}"></a></div>
       <h1>登陆</h1>
   </div>
   <div data-role="content">
    <div class="div0" align="center">
         <img th:src="@{/image/wei.jpg}" id="touxiang">
    </div>

       <form method="post" th:action="@{/login}">
         <div class="board">
              <div class="user">
              <div style=" width:30%;float:left;margin-top:10px;"><p style="text-align:center">用户名:</p></div>
              <div style=" width:55%;float:left;margin:10px 0 0 5px"><input type="text" name="username" placeholder="用户名"> </div>
              <div id="wrong1" style="margin-left:42%;color:#F00;"></div>
              </div>
              <div class="psw">
              <div style=" width:30%;float:left;margin-top:10px;"><p style="text-align:center">密码:</p></div>
              <div style=" width:55%;float:left;margin:10px 0 0 5px"><input type="password" name="password" placeholder="密码"> </div>
              <div id="wrong2" style="margin-left:42%;color:#F00"></div>
              </div>
              <div style="width:30%; margin-left:42%;top:230px;position:absolute;">
              <button class="btn" type="submit">登    陆</button>
                  <br>
                  <br>
                  <div class="message" style="color: red" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
              </div>
         </div>
       </form>
   </div>
</div>
<script>
$("#name").focusout(function(){
	if($("#name").val()=="")
	{
		$("#wrong1").html("用户名不能为空");
	}else{
	   $("#wrong1").html("");   
	}
})
$("#pwd").focusout(function(){
	if($("#name").val()=="")
	{
		$("#wrong2").html("密码不能为空");
	}else{
	   $("#wrong2").html("");   
	}
})

// $("#btn").click(function(){
//          db.transaction(function (tx) {
// 		tx.executeSql('SELECT * FROM user', [], function (tx, results) {
//              var len = results.rows.length, i;
//              for (i = 0; i < len; i++){
//               //results.rows.item(i).name
// 			if($("#name").val()==results.rows.item(i).name&&$("#pwd").val()==results.rows.item(i).pwd){
// 			          	var user=results.rows.item(i).name;
// 						var urlx="my.html?user=" +user;
// 						location.href=encodeURI(urlx);
// 						console.log(results.rows.item(i).name);
// 			   break;
// 		      }else if($("#name").val()==results.rows.item(i).name&&$("#pwd").val()!=results.rows.item(i).pwd){
// 			          alert("密码错误！");break;
// 			  }else if($("#name").val()!=results.rows.item(i).name&&$("#pwd").val()==results.rows.item(i).pwd){
// 			          alert("用户名错误！");break;
// 			  }else{
// 			          alert("用户名密码不正确！");break;
// 			  }
//
// 			}
// 		  })
// 		})
// 	});
$("#back").click(function(){
			window.history.go(-1);
		});
</script>
</body>
</html>
