<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title></title>
<link rel="stylesheet" type="text/css" href="../static/css/jquery.mobile-1.4.5.css">
<link rel="stylesheet" type="text/css" href="../static/css/target.css">
<script src="../static/js/jquery.js"></script>
<script src="../static/js/jquery.mobile-1.4.5.js"></script>
<script src="../static/js/database1.js"></script>
<style>
#back{
		margin-left:5px;
		position:absolute;
		width:50px;
}
</style>
</head>

<body>
       <div data-role="page">
        <div data-role="header" data-position="fixed" data-tap-toggle="false">
         <div id="back"><a href="javascript:history.back(-1)"><img th:src="@{/image/back.png}"></a></div>
        <h2 class="film-name"></h2>
        </div>
       
        <div data-role="content">
        <div class="tabs">
          <div data-role="navbar" style="display:block">
           <ul id="date">
             <li><a class="activeclass" href="#div1" data-ajax="false"></a></li>
             <li><a href="#div2" data-ajax="false"></a></li>
             <li><a href="#div3" data-ajax="false"></a></li>
             <li><a href="#div4" data-ajax="false"></a></li>
           </ul>
           </div> 
        
      
         <div id="div1" class="active">  
         <ul data-role="listview" style="margin:0.5px" data-icon="false" id="addcontent1">        
         </ul> 
        </div>
        <div id="div2">  
         <ul data-role="listview" style="margin:0.5px" data-icon="false" id="addcontent2">
         </ul> 
        </div>
        <div id="div3">  
         <ul data-role="listview" style="margin:0.5px" data-icon="false" id="addcontent3">             
         </ul> 
       </div>
        <div id="div4">  
         <ul data-role="listview" style="margin:0.5px" data-icon="false" id="addcontent4">    
         </ul> 
       </div>
       </div>
    </div>
<script>
      var dd = new Date();  
     function getdate(AddDayCount){ 
       dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期   
       var m = (dd.getMonth()+1)<10?"0"+(dd.getMonth()+1):(dd.getMonth()+1);//获取当前月份的日期，不足10补0  
       var d = dd.getDate()<10?"0"+dd.getDate():dd.getDate();//获取当前几号，不足10补0  
       return m+"-"+d; 
 }
    function getweek(AddDayCount)
     {
      var week;
      switch (dd.getDay()+AddDayCount){
      case 1: week="周一"; break;
      case 2: week="周二"; break;
      case 3: week="周三"; break;
      case 4: week="周四"; break;
      case 5: week="周五"; break;
      case 6: week="周六"; break;
      default: week="周日";
      }
     return week;   
    }
   $("#date").find("a:eq(0)").html("今天"+getdate(0));
   $("#date").find("a:eq(1)").html("明天"+getdate(1));
   $("#date").find("a:eq(2)").html("后天"+getdate(1));
   $("#date").find("a:eq(3)").html(getweek(3)+getdate(1));
   
   
		 var loc=decodeURI(location.href);
		 var param=loc.split("?")[1];
		 var paramList=param.split("&");
		 var key,val,ftime;
		 //console.log(paramList);
         for(index in paramList){
			 key=paramList[index].split("=")[0];
		     val=paramList[index].split("=")[1];
			 if("title"==key){
			 $(".film-name").append(val);
			 }else if("flag"==key){
				 ftime=val;
				
				 var sd=ftime.split("-");
				 console.log(ftime);
				 dd.setFullYear(sd[0],sd[1]-1,sd[2]);
				 $("#date").find("a:eq(0)").html(getweek(0)+getdate(0));
                 $("#date").find("a:eq(1)").html(getweek(1)+getdate(1));
                 $("#date").find("a:eq(2)").html(getweek(2)+getdate(1));
                 $("#date").find("a:eq(3)").html(getweek(3)+getdate(1));
			 }
		 }
		      
	
	
  
 
   $("#date li").click(function(){
          //$(this).children().removeClass("activeclass");
		  $("#date li").children().removeClass("activeclass");	
		  $(this).children().addClass("activeclass"); 
		  
		  
		  $("div.active").removeClass("active");
		  $($(this).children().attr("href")).addClass("active");
   })
    $("#back").click(function(){
			 window.history.go(-1);
    });	
	
	db.transaction(function (tx) {	
		var name=new Array();  
	    var position=new Array();
		var start=new Array();
		var price0=new Array();
		var ting=new Array();
		var distance=new Array();
	    tx.executeSql('SELECT * FROM cinema', [], function (tx, results) {
		    var len = results.rows.length, i;
			 for (i = 0; i < len; i++){
			     position[i]=results.rows.item(i).location;
				 name[i]=results.rows.item(i).name;
				 distance[i]=results.rows.item(i).distance;
			 }
		})
		tx.executeSql('SELECT * FROM cinemafilm', [], function (tx, results) {
		    var len = results.rows.length, i,j,k;
			 for (i = 0; i < len; i++){
			      start[i]=results.rows.item(i).start;
			      price0[i]=results.rows.item(i).price;	
				  ting[i]=results.rows.item(i).ting;		  
			 }
		})
		//console.log(price0);
		//console.log(time[1][1]);
		tx.executeSql('SELECT * FROM filmcinema', [], function (tx, results) {
             var len = results.rows.length, i,j,k,n;
             for (i = 0; i < len; i++){
              //results.rows.item(i).name
			 if(results.rows.item(i).name == $(".film-name").text()){
			 var cinema=(results.rows.item(i).cinema).split("&");
			 var day=(results.rows.item(i).day).split("&");
			 var price=(results.rows.item(i).price).split("&");
			 var str="<div class='tip'>"+"今天有场次"+"</div>";
			 $("#addcontent1").append(str);
			 //console.log(cinema);
			// console.log(place);
			   for(j = 0; j < cinema.length; j++){ 
			     for(k = 0; k < name.length; k++){ 
				  if(cinema[j]==name[k]){
	               var nodeStr = "<li>"
		            + "<a>"
		            + "<div class='cdetail'>"
					+ "<h3>"+ cinema[j] + "</h3>"
					+ "<p style='color:#CCC'>" + position[k]+ "</p>"
				    + "<div class='biaoqian'>"+"观影小食"+"</div>"
                    + "<div class='xin'>"+"新"+"</div>"
					+ "<p style='display:inline-table;font-weight:normal;text-shadow:none;color:#CCC'>"+"新人专享"+"</p>"
					+ "</div>"
					+ "<p style='float:right'><b style='color:#F00;font-size:16px;font-weight:normal;text-shadow:none'>"+price[j]+"</b><b style='color:#F00;font-weight:normal;text-shadow:none'>"+"元"+"</b>"+"起"+"</p>"
					+ "<p style='color:#CCC; float:right'>"+distance[k]+"km"+"</p>"
					+ "</div>"
					+ "</a>"
					+ "</li>"
					+ "<div style='overflow:scroll;white-space:nowrap'>"
				var start1=start[j].split("&");
				var money=price0[j].split("&");
				var ting1=ting[j].split("&");
				console.log(money[i]);
				for(n=0;n<(start1[i].split("-")).length;n++)
				{
					nodeStr+= "<div class='time'>"
					       + "<h3>"+start1[i].split("-")[n]+"</h3>"
					       + "<p style='color:#ccc'>"+ting1[i]+"号厅原版2D"+"</p>"
						   + "<b style='color:#6FF'>"+"￥"+money[i]+"</b>"
						   + "</div>"
				}
				nodeStr+="</div>";
				     if(day[j]==1){		
	                 $("#addcontent1").append(nodeStr);
			         $("#addcontent1").listview('refresh');
			          } 
					  if(day[j]==2){
					 $("#addcontent1").append(nodeStr);
			         $("#addcontent1").listview('refresh');
					 $("#addcontent2").append(nodeStr);
			         $("#addcontent2").listview('refresh');    
				     } 
					 if(day[j]==3){
					 $("#addcontent1").append(nodeStr);
			         $("#addcontent1").listview('refresh');
					 $("#addcontent2").append(nodeStr);
			         $("#addcontent2").listview('refresh');  
				     $("#addcontent3").append(nodeStr);
			         $("#addcontent3").listview('refresh'); 
				     }
					 if(day[j]==4){
					 $("#addcontent1").append(nodeStr);
			         $("#addcontent1").listview('refresh');
					 $("#addcontent2").append(nodeStr);
			         $("#addcontent2").listview('refresh');  
				     $("#addcontent3").append(nodeStr);
			         $("#addcontent3").listview('refresh');
					 $("#addcontent4").append(nodeStr);
			         $("#addcontent4").listview('refresh'); 
					 }
				//console.log(ting1[i]); 	 
				$(".time").click(function(){  
				var title=$(".film-name").text();
				var date=$(".activeclass").text();
				var time=$(this).children("h3").text();
				var kind=$(this).children("p").text().substr(3);
				var place=$(this).parent().prev().find("h3").text();
				var price=$(this).children("b").text().substr(1);
				var ting=$(this).children("p").text().substr(0,3)
				var urlx="seat.html?title="+ title +"&time=" +time+"&kind=" +kind+"&place=" +place+"&price=" +price+"&date=" +date+"&ting=" +ting;	
				location.href=encodeURI(urlx);
				});
				  } 
				 }	
			  }
			  break;
			 }
		} 
		})
	})	        
</script>
</body>
</html>
